.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem;
    padding-bottom: 25%;
    margin-top: -25vh;
}

.section-feature {
    padding: 10%;
    padding-bottom: 20%;
    height: 1100%;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url('../img/nat-4.jpg');
    background-size: cover;
}